# The directory in which data is stored
DATA_DIR="/var/cache/mimirsbrunn"

# The port number for elasticsearch
ES_PORT=9200

# The name of the index
ES_INDEX="munin"

# The name of the dataset
ES_DATASET="nl"

# OpenAddress url to download and import
OA_DOWNLOAD_URL="https://data.openaddresses.io/runs/767853/nl/countrywide.zip"

# NTFS Region to download
NTFS_REGION="nl"

# OSM Download
OSM_DOWNLOAD_URL="https://download.geofabrik.de/europe/netherlands/gelderland-latest.osm.pbf"

# OSM Region
OSM_REGION="netherlands-gelderland"

# OSM POI config
OSM_POI_CONFIG="/etc/mimirsbrunn/poi_config.json"

# Binaries. Ensure they are in the PATH
COSMOGONY="cosmogony"
OSM2MIMIR="osm2mimir"
OPENADDRESSES2MIMIR="openaddresses2mimir"
COSMOGONY2MIMIR="cosmogony2mimir"
NTFS2MIMIR="ntfs2mimir"
